html {
    font-family: 'Press Start 2P', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    background-color: gray;
}


#screen {
    width: 1000px;
    height: 1000px;
    background-image: url(../sprites/Map.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: none;
    transition: opacity 10s ease-in-out;

}


#character {
    background-image: url(../sprites/linkieright.gif);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    position: absolute;
}

#healthbar {
  background-image: url(../sprites/heart_jon_phillips_01.png);
  background-size: contain;
  width: 20px;
  height: 20px;
  padding: 10px;
  margin-top: 1.4rem;
  margin-left: 1.4rem;
}

#enemy {
  background-image: url(../sprites/smol.gif);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}

#startScreen {
    background-image: url(../images/Screenshot\ from\ 2024-05-21\ 10-11-12.png);
    width: 1000px;
    height: 1000px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    position: relative;
}

#battlescreen {
  width: 1000px;
  height: 1000px;
  background-image: url(../images/Background\ battlescreen.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: none;
  transition: opacity 20s ease-in-out;
}

#obs {
  position: absolute;
} 



button {
    background-color: #ff5c2b;
    color: white;
    font-weight: bold;
    font-size: large;
    text-align: center;
    width: 200px;
    height: 50px;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-top: 605px;
    border-radius: 40px;
    font-family: 'Press Start 2P', sans-serif;
    animation: pulse 1s infinite;
}


@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

button:hover {
transition: padding 0.3s ease-in-out;
background-color: #4e171f;
cursor: pointer;
}

audio {
    display: none;
}

.jumping {
  animation: jump 2s ease infinite alternate;
}

@keyframes jump {
  0% {
    transform: translateY(0) scale(1);
  }
  20% {
    transform: translateY(-40px) scale(1.3);
  }
  50% {
    transform: translateY(-100px) scale(1.4);
  }
  65% {
    transform: translateY(-60px) scale(1.3)
  }
  80% {
    transform: translateY(-40px) scale(1.1);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}
