html {
    font-family: 'Press Start 2P', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    background-color: gray;
}


#screen {
    width: 1000px;
    height: 1000px;
    background-image: url(../images/map-screen.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: none;
    transition: opacity 10s ease-in-out;

}


#character {
    background-image: url(../sprites/linkieright.gif);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    position: absolute;
}

#healthbar {
  width: 300px;
  height: 20px;
  padding: 10px;
  margin-top: 1.1rem;
  margin-left: 1.4rem;
  display: inline-block;
}

.heart {
  background-image: url(../sprites/heart_jon_phillips_01.png);
  background-size: contain;
  width: 40px;
  height: 40px;
  display: inline-block;
}

#enemy {
  background-image: url(../sprites/smol.gif);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}

#startScreen {
    background-image: url(../images/titlescreen.png);
    width: 1000px;
    height: 1000px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    position: relative;
}

#battlescreen {
  width: 1000px;
  height: 1000px;
  background-image: url(../images/ganon-screen-01.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: none;
  transition: opacity 20s ease-in-out;
}

#creditsScreen {
  display: none;
  width: 500px;
  height: 700px;
  background-color: teal;
  color: white;
  position: absolute;
  border-radius: 40px;
}

h3 {
  margin-top: 2rem;
  margin-left: 162px;
  margin-bottom: 1rem;
  color: black;
}

img {
  border-radius: 50%;
  width: 55px;
  height: 55px;
  padding: 1rem;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}

li {
  list-style-type: none;
  margin-bottom: 1.5rem;
  font-size: 14px;
}

h4 {
  margin-left: 137px;
  margin-top: 1.2rem;
  margin-bottom: 2rem;
  color: black;
}

ol {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin-right: 2rem;
}

.backtostartfromcredits {
  display: none;
  position: absolute;
  width: 100px;
  height: 40px;
  margin-top: 635px;
  background-color: gray;
  color: white;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  font-family: 'Press Start 2P', sans-serif;
}

#dead {
  display: none;
  width: 500px;
  height: 500px;
  position: absolute;
  top: 260px;
  left: 180px;
}

#ganon {
  background-image: url(../sprites/ganonrosario.gif);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  position: absolute;
  border-radius: 50%;
  animation: explode 4s infinite, sparks 2s infinite; /* Cambié la duración a 2s y establecí la repetición infinita */
}

@keyframes explode {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.5;
  }
}


@keyframes sparks {
  0% {
    box-shadow: 0 0 10px #FFF, 0 0 20px #FFF, 0 0 30px #FFF, 0 0 40px #FFF, 0 0 50px #FFF, 0 0 60px #FFF, 0 0 70px #FFF, 0 0 80px #FFF, 0 0 90px #FFF, 0 0 100px #FFF, 0 0 110px #FFF;
  }
  100% {
    box-shadow: 0 0 10px #FFF, 0 0 20px #FFF, 0 0 30px #FFF, 0 0 40px #FFF, 0 0 50px #FFF, 0 0 60px #FFF, 0 0 70px #FFF, 0 0 80px #FFF, 0 0 90px #FFF, 0 0 100px #FFF, 0 0 110px transparent;
  }
}


#obs {
  position: absolute;
} 


.startbtn {
    background-color: #ff5c2b;
    color: white;
    font-weight: bold;
    font-size: large;
    text-align: center;
    width: 200px;
    height: 50px;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-top: 605px;
    border-radius: 40px;
    font-family: 'Press Start 2P', sans-serif;
    animation: pulse 1s infinite;
}

.creditsbtn {
    background-color: grey;
    color: white;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    width: 160px;
    height: 50px;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-top: 915px;
    margin-left: 750px;
    border-radius: 40px;
    font-family: 'Press Start 2P', sans-serif;
}


@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

button:hover {
transition: padding 0.3s ease-in-out;
background-color: black;
cursor: pointer;
}

audio {
    display: none;
}

.jumping {
  animation: jump 2s ease infinite alternate;
}

@keyframes jump {
  0% {
    transform: translateY(0) scale(1);
  }
  20% {
    transform: translateY(-40px) scale(1.3);
  }
  50% {
    transform: translateY(-100px) scale(1.4);
  }
  65% {
    transform: translateY(-60px) scale(1.3)
  }
  80% {
    transform: translateY(-40px) scale(1.1);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

#enemy.hit {
  animation: attackAnimation 1s ease forwards infinite; 
 
} 

 @keyframes attackAnimation {
  0% {
      transform: scale(1);
      box-shadow: none; 
  }
  50% {
      transform: scale(0.8);
      box-shadow: 0 0 20px 10px rgba(255, 0, 0, 0.7);
      border-radius: 50%;
  }
  100% {
      transform: scale(0.8);
      box-shadow: none;
      border-radius: 50%;
  }
} 

